@charset "UTF-8";

/*

    em HTML é id = em CSS é #
    em HTML é class = em CSS é .

    OBS.: o ID sobrepoem as configurações da classe

*/

body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #0a5f2b;
}

h1#principal{
    text-align: center;
    background-color: #0A5D2A;
    color: white;
}

h2{
    color: #10a047;
}

.basico{
    color: #0E7F39;
}

.intermediario{
    color: #7f770e;
}

.avancado{
    color: #7f0e0e;
}

.destaque{
    background-color: #c5c56070;
}