@charset "8-UTF";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho dos elementos */
}

/* 
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
*/

body{
    background: url('../pacote-d013/pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover; /* Imagem deve preencher todo o fundo onde foi aplicada */
    background-attachment: fixed; /* Imagem deve ou não rolar com o conteúdo da página */
    overflow: hidden; /* Remove qualquer barra de rolagem extra */
}

main{
    position: relative; /* Elemento usa seu próprio canto para referenciar a sua posição */
    display: flex; /* Centraliza os elementos dentro de main */
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1;
}

section#telefone{
    position: relative; /* Posiciona a imagem em relação ao ponto superior esquerdo do elemnto pai */
    height: 627px; 
    width: 311px; 
    background: url('../pacote-d013/pacote-d013/imagens/frame-iphone.png') no-repeat;
    background-size: cover;
    z-index: 1;
}

/*
    position: absolute foi alterado pelo display: flex, pois assim posso organizar os ícones dinamicamente
*/
section#redes-sociais{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex; /* Alinha os ícones em linha */
    flex-direction: column; /* Organiza os itens em coluna (um abaixo do outro) */
    gap: 10px; /* Espaçamento entre os ícones */
    z-index: 3;
}

/* Estilo das outras telas */
.estilo_telas{
    display: none; /* Todas as telas ficam escondidas inicialmente */
    z-index: 2; /* Colocar as telas acima do fundo */
}

/* Imagem das outras telas no celular */
#home_tela {
    display: block;
    background: url('../pacote-d013/pacote-d013/imagens/tela-home.jpg') no-repeat;
    background-size: cover;
    top: 12.8%;
    left: 7%;
    position: absolute;
    width: 267px;
    height: 477px;
}

#github_tela {
    background: url('../pacote-d013/pacote-d013/imagens/tela-github.jpg') no-repeat;
    background-size: cover;
    background-attachment: scroll;
    top: 80px;
    left: 21px;
    position: absolute;
    width: 269px;
    height: 478px;
}

#youtube_tela {
    background: url('../pacote-d013/pacote-d013/imagens/tela-youtube.png') no-repeat;
    background-size: cover;
    background-attachment: scroll;
    top: 80px;
    left: 21px;
    position: absolute;
    width: 269px;
    height: 478px;
}

/* Exibir tela quando for alvo (:target) */
#github_tela:target,
#youtube_tela:target {
    display: block; /* Exibe a tela que é alvo  */
}

/* Design dos botões */

.estilo_botoes {
    background-size: cover;
    background-position: center;
    width: 60px; /* Tamanho fixo */
    height: 60px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}

/* Efeito hover */

.estilo_botoes:hover {
    box-shadow: 0px 4px 15px black;
}