@charset "8-UTF";

@font-face {
    font-family: 'Bebas';
    src: url('fontes/BebasKai.otf') format('opentype');
}

@font-face {
    font-family: 'Idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

body{
    margin: 0px;
}

header{
    font-family: 'BebasKai', Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #39CD7B, #195935);
}

header > h1{
    margin-top: 0px;
    padding-top: 30px;
}

header > p{
    padding-top: 10px;
}

header > h1, header > p{
    text-align: center;
    color: white;
}

header > nav{
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    word-spacing: 15px;
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.fale_conosco{
    word-spacing: 0px;
}

main{
    background-color: #84E1AD;
}

article{
    margin: 0px 180px 0px 180px;
    background-color: white;
    padding: 0px 20px 0px 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 48px 1px rgba(0, 0, 0, 0.596);
}

article > h1{
    margin-top: 0px;
    padding-top: 25px;
    font-size: 28px;
    color: rgb(0, 82, 0);
}

article > h2{
    color: rgb(0, 107, 0);
    background: linear-gradient(to right, rgb(200, 350, 215), rgb(255, 255, 255));
    font-size: 22px;
}

article > p{
    text-indent: 20px;
}

article > h1, article > h2{
    font-family: 'Idroid', Arial, Helvetica, sans-serif;
}

b > a{
    text-decoration: none;
    color: #42795B;
}

.mais > h3{
    margin-top: 0px;
}

b{
    color: #42795B;
}

picture > img{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

aside{
    background-color: rgb(0, 63, 0);
    padding: 30px;
}

aside > iframe{
    width: 96%;
    margin: auto;
    display: block;
}

.mais{
    padding-top: 20px;
}

article > h3{
    background-color: #2FA866;
    margin-bottom: 0px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.616);
}

.mais > p{
    background-color: #C5EBD6;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
}

ul{
    background-color: #C5EBD6;
    margin-top: 0px;
}

.acesse{
    border-radius: 0px 0px 10px 10px;
}

section{
    padding-bottom: 20px;
}

section > p{
    margin: 0px 180px 0px 180px;
    background-color: white;
    padding: 20px 20px 0px 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
}

.entao{
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 30px;
}

footer > p{
    text-align: center;
    background-color: #1A5C38;
    margin: 0px;
    padding: 15px;
    color: white;
}

.foo{
    color: white;
}