@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: #5F2C82;
}

main{
    background-color: white;
    width: 40vw;
    height: 60vh;
    margin: auto;
    margin-top: 150px;
    border-radius: 10px;
}

div#img{
    background-image: url(../imagens/metal.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

article{
    padding: 10px;
}

article > h1{
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}

article > p{
    font-size: 11px;
    text-align: left;
}