@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: #5F2C82;
}

main{
    background-color: white;
    border-radius: 10px;
    margin: 99px;
}

div#img{
    background: url(../imagens/metal.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}

article > h1{
    font-size: 20px;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

p{
    font-size: 10.5px;
    text-align: left;
    padding: 5px;
    line-height: 1.3em;
}

#article2 > p.caixas{
    border-radius: 5px;
    background-color: #5F2C82;
    margin: 3px;
    padding: 0px;
}

article > p > input{
    border-radius: 6px;
    padding: 5px;
}
