@charset "UTF-8";

/* Mobile first */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: #5F2C82;
}

main{
    background-color: white;
    border-radius: 10px;
    margin: 99px;
}

div#img{
    background: url(../imagens/metal.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}

article > h1{
    font-size: 20px;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

p{
    font-size: 10.5px;
    text-align: left;
    padding-left: 8px;
    line-height: 1.4em;
}

#article2 > p.caixas{
    display: flex;
    border-radius: 5px;
    background-color: #5F2C82;
    margin: 5px;
    padding-top: 3px;
    padding-bottom: 0.8px;
    padding-right: 2px;
}

#article2 > p > span.material-symbols-outlined{
    padding-right: 5px;
    color: white;
}

#artilce2 > p > span > label{
    padding: 60px;
}

article > p > input{
    border-radius: 6px;
    width: 100%;
    padding-left: 5px;
    background-color: #94CFCD;
}
