@charset "8-UTF";

@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Permanent+Marker&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: "Boogaloo", sans-serif;
}

header{
    padding: 60px;
    text-align: center;
    font-size: 40px;
    background-color: black;
    color: white;
}

main{
    margin-top: 100px;
    font-size: 40px;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7{
    margin-bottom: 100px;
    letter-spacing: 3px;
    line-height: 64px;
    margin-left: 100px;
}

.p2{
    margin-left: 0px;
    background-image: url(pacote-d012/imagens/background001.jpg);
    height: 80vh;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    padding-top: 131px;
    border-top: 3px solid rgba(0, 0, 0, 0.425);
    border-bottom: 3px solid rgba(0, 0, 0, 0.425);
}

.p5{
    margin-left: 0px;
    background-image: url(pacote-d012/imagens/background002.jpg);
    height: 80vh;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    padding-top: 131px;
    border-top: 3px solid rgba(0, 0, 0, 0.425);
    border-bottom: 3px solid rgba(0, 0, 0, 0.425);
}

.paragrafo{
    margin-left: 60px;
    padding: 50px 50px 50px 50px;
    background-color: rgba(0, 0, 0, 0.315);
    display: inline-block;
    color: white;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    color: white;
    background-color: black;
}