@charset "8-UTF";

body{
    background-image: url('../Projeto-celular/pacote-d013/pacote-d013/imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}